<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close">&times;</button>
        <h4 class="modal-title">Informations concerning the employee: {{credential.firstName }} {{credential.lastName}}</h4>
    </div>
    <div class="modal-body">
        <div class="w1_profile_img" style="background-image:url('images/users/{{credential.image}}')"></div>
        <span class="logo_bold">E-mail:</span> {{credential.email}}</br>
        <span class="logo_bold">Phone number:</span> {{credential.phoneNumber}}</br>
        <span class="logo_bold">Address:</span> {{credential.address}} - {{credential.city}}</br>
        <span class="logo_bold">Insurance number:</span> {{credential.insuranceNumber}} (<span class="logo_bold">expiry date:</span> {{credential.insuranceExpiryDate}})</br>
        <span class="logo_bold">Work:</span> {{credential.profession}} in {{credential.company}}</br>
    </div>
    <div class="modal-footer">
        <img class="btn_cred" ng-click="edit()" src="images/icons/edit.png">
        <img class="btn_cred" ng-click="delete()" src="images/icons/delete.png">
        <button type="button" class="btn btn-warning btn-md" ng-click="close()">Close</button>
    </div>
</div>